@page "/deck/add"
@using CardDungeonBlazor.Models;
@using CardDungeonBlazor.Controls;
@inject CardDungeonBlazor.Data.ApplicationDbContext dbcontext;
@inject NavigationManager navManager;

<h1>Add card to the database</h1>

<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 my-3">
        <EditForm Model="Model" OnValidSubmit="Submit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="input-group mb-3">
                <div class="input-group-prepend w-25">
                    <span class="input-group-text w-100">Name</span>
                </div>
                <InputText class="form-control" @bind-Value="Model.Name" />
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend w-25">
                    <span class="input-group-text w-100">Description</span>
                </div>
                <InputText class="form-control" @bind-Value="Model.Description" />
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend w-25">
                    <span class="input-group-text w-100">Value</span>
                </div>
                <InputCheckbox class="form-control" @bind-Value="Model.DeckType" />
            </div>
            <button class="btn btn-success btn-lg" type="submit">Add cards</button>
        </EditForm>
    </div>
</div>

@code{
    AddDeckFormModel Model;

    protected override void OnInitialized()
    {
        Model = new AddDeckFormModel();
        CardsControler cardsControler = new CardsControler(dbcontext);

    }

    void Submit()
    {
        DecksController decksController = new DecksController(dbcontext);
        decksController.Add(Model);
        navManager.NavigateTo($"/deck/addCards/{decksController.GetId(Model.Name)}");
    }
}
